.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: black;
}

.dialogsItems .active{
    color: blueviolet;
}

.messages{
    padding: 10px;
}

.messages .message{
    color: black;
}